<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit product</title>
</head>
<body>
   
    <h1>Update Product</h1>
    <form action="/update" method="post">
    <input type="hidden" name="txtId" value="{{product._id}}">
     <h5>Name</h5>
    <div class="input-group mb-3">
     <input type="text" name="txtName" value="{{product.name}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
     <span style="color:red">{{nameError}}</span>
    </div>
    <h5>Price</h5>
     <div class="input-group mb-3">
     <input type="text" name="txtPrice" value="{{product.price}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
     <span style="color:red">{{modelError1}}</span>
     </div>

     <h5>Category</h5>
     <div class="input-group mb-3">
     <input type="text" name="txtCategory" value="{{product.category}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
     <span style="color:red"></span>
     </div>

        <h5>Image Url</h5>
      <div class="input-group mb-3">
     <input type="text" name="txtImage" value="{{product.image}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
     <span style="color:red">{{ urlErro}}</span>
     
      </div>
      <button type="submit" value="Update" class="btn btn-outline-primary" onclick="return confirm('Are your sure?')">Update</button>
    </form>
</body>
</html>
